
.space-y-6 > :not([hidden]) ~ :not([hidden]){
    margin-top: 0% !important;
}

#news img{
    width: 100% !important;

}

.scrollbar-hide::-webkit-scrollbar {
    display: none !important;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
  }